
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Englebert&family=Irish+Grover&display=swap');
body{
  background-color: #700f0e;
  
}

.main{
    width:70%;
    margin:0 auto;
    background-color: rgb(2,145,86);
    font-family: "Irish Grover", system-ui;
    }
    
    nav{
    display: flex;
    justify-content: space-around;
    background:black;
    position: sticky;
    top:0;
    font-size:x-large;
    padding: 20px;
    font-family: "Irish Grover", system-ui;
    color: whitesmoke;
    }
    a{
      text-decoration: none;
      color: whitesmoke;
    }
    .splash{
      width:100%;
      
    }
    
    .products{display:flex;
    justify-content: space-around;}
    .product{
      width:30%;
    }
    .productImg{
      width:100%;
      
    }
    
    p{
      font-size:2vw;
      color: whitesmoke;
    }
    
    
    @media screen and (max-width: 480px){
      div { flex-direction:column;
      margin: 0 auto;}
      nav{flex-direction:column;
      text-align:center;}
    }
    
    
    
    .container {
   position: relative;
   width: 100%;
 }
 
 /* Make the image responsive */
 .container img {
   width: 100%;
   height: auto;
 }
 
 .sub-title{
  position: absolute;
  left:30%;
  top: 42%;
  font-size: x-large;
  color: whitesmoke;
  width: fit-content;
  width: 40%;
  font-family: "Englebert", cursive;
 }
 
 .container .btn {
   position: absolute;
   top: 80%;
   left: 15%;
   transform: translate(-50%, -50%);
   background-color:gray;
   color:white;
   font-size: 16px;
   padding: 12px 24px;
   border: none;
   cursor: pointer;
   border-radius: 5px;
   
 }
 
 .container .btn:hover {
   background-color: #700f0e;
 }
  .top-left {
   position: absolute;
   top: 8px;
   left: 16px;
   top: 54%;
   left: 8%;
   color: white;
   background-color: rgb(2,145,86);
   padding: 10px;
   width: 400px;
   font-size: larger;
   font-family: "Englebert", cursive;
   border-radius: 25px;
 }
 
 .btn{
  color:#700f0e

 }